{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Projects</h1>
<a href="{% url 'create_project' %}">Create New Project</a>
<ul>
    {% for project in projects %}
        <li><a href="{% url 'view_project' project.id %}">{{ project.title }}</a></li>
    {% endfor %}
</ul>

</body>
</html>